<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Food</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <nav
      class="flex bg-blue-600 text-white items-center justify-between px-8 py-3"
    >
      <div class="font-semibold text-lg italic">MyFood</div>
      <div class="flex gap-x-8 items-center">
        <a href="{% url "index:index" %}">Home</a>
        <a href="{% url "index:create" %}">Create</a>
        {% if user.is_authenticated %}
          <a href="{% url "users:logout" %}">Logout</a>
          {% else %}
          <a href="{% url "users:login" %}">Login</a>
        {% endif %}
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
